.player-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.music-player {
  color: white;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
}

.track-button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  font-size: 0.9rem;
  width: 100%;
}

.track-button.active {
  background: rgba(255, 255, 255, 0.2);
}

.track-button:hover {
  background: rgba(255, 255, 255, 0.15);
}

.player-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: auto;
}

.time-display {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: -0.25rem;
}

.progress-bar {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 0.25rem;
}

.progress {
  height: 100%;
  background: #646cff;
  transition: width 0.1s linear;
}

.controls-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -0.5rem 0 0 0;
  position: relative;
  width: 100%;
}

.controls-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.play-button {
  background: #646cff;
  border: none;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 10px;
  padding: 0;
  line-height: 1;
}
.play-button:hover {
  transform: scale(1.05);
}

.volume-control {
  position: absolute;
  right: 1rem;
  width: 90px;
  display: flex;
  align-items: center;
}

.volume-slider {
  width: 100%;
  background: transparent;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #646cff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.volume-slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: #646cff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
}

.volume-slider:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

.volume-slider:hover::-moz-range-thumb {
  transform: scale(1.2);
} 